body {
    background-color: #1a302e;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#intro {
    color: #ACBF8F;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5ch;
    margin-left: 10ch;
    line-height: 30px;
}
#intro h1{
    font-size: 30px;
    line-height: 10px;

}
article{
    display: flex;
    padding-right: 100px;
}


#project h5 {
    text-align: end;
    font-size: 2ch;
    color: #1a302e;
    white-space: nowrap;
    margin-top: -2px;
    margin-bottom: 20px;
}

#project img{
    height: 200px;
    width: 360px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    width: 100%;
    margin-right: 100px;
}



#intro span {
    font-size: 30px;
    color: #B4B9BB;
    display: block;
}

#intro a {
    color: #B4B9BB;
}

#intro img {
    height: 40ch;
}

#project{
    background-color: #ACBF8F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8ch;
    padding: 10px;
    
    
}
#project li{
    background-color: #1a302e;
    color: #ACBF8F;
    gap: 10px;
    border-radius: 20px;
    margin-bottom: 7px;
    text-align: center;
    padding: 8px;
}


#project ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: smaller;
    align-items: end;
}

#resume{
    background-color: #ACBF8F;
    color: #1a302e;
    padding: 6px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
#project h3{
    margin-left: 2ch;
    color: #1a302e;
}

#contact {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#contact h2 {
    color: #ACBF8F;
    margin-top: 8ch;
    padding: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    justify-items: center;
    text-align: center;
}
nav{
    font-size: 80%;
    margin: 1ch;
    margin-left: 5ch;
    margin-right: 10ch;
    
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
 

}

nav ul a{
    text-decoration: none;
    color: #B4B9BB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center ;
    display: block ;
}
nav ul li:first-child{
    flex-basis: 100%  ;
    text-align: center ;
}
nav ul li button{
    background-color: #ACBF8F;
    color: #1a302e;
}



.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
  }
  @media (min-width: 360px) {
    nav ul li:first-child {
      flex-basis: auto;
      flex-grow: 1;
      text-align: left;
    } 
  } 

  
  
   
    






