:root[data-theme="light"] {
    --background-color: #1a302e;
    --font-color: #1a302e;
    --accent-color: #ACBF8F;
    --bgp-color: #ACBF8F;
    --text-color: #B4B9BB;
    --sun-color: #8a8a8a;
    --moon-color: #B1B0B5;
    --theme-switcher-bg: #F5F5F6;
    --theme-switcher-highlight: #FFD371;
    --switch-circle-pos: 0.2rem;
}

:root[data-theme="dark"] {
    --background-color: #010300;
    --font-color: #ACBF8F;
    --accent-color: #ACBF8F;
    --bgp-color: #010300;
    --text-color: #B4B9BB;
    --sun-color: #010300;
    --moon-color: #B4B9BB;
    --theme-switcher-bg: #ACBF8F;
    --theme-switcher-highlight: #010300;
    --border-color: #B4B9BB;
    --switch-circle-pos: calc(100% - 1.25rem); 
}


body {
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    padding: 1rem; 
}

:root[data-theme="dark"] #intro{
    border-bottom: 1px solid var(--border-color);
}

nav {
    font-size: 80%;
    margin: 1ch;
    margin-left: 5ch;
    margin-right: 5ch;
    padding-bottom: 30px;
}

#bars {
    color: var(--accent-color);
    display: none;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: end;
}

@media(max-width: 420px) {
    #list {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: var(--background-color);
        gap: 0;
        overflow: hidden;
        flex-wrap: nowrap;
        margin: 40px;
    }
    nav ul li {
        padding-top: 0;
        padding-bottom: 30px;
        margin-bottom: 10px;
        font-size: larger;
    }
    #bars {
        display: block;
    }
    #theme-switcher{
        margin-bottom: 50px;
    }
    #intro {
        padding-bottom: 150px;
        padding-top: 40px;
    }
    #project h3 {
        font-size: 30px;
        padding: 20px;
    }
    #project h4 {
        padding: 30px;
        font-size: 1.5rem;
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    display: block;
}

nav ul li button {
    background-color: var(--accent-color);
    color: var(--background-color);
}

@media (min-width: 420px) {
    nav ul li:first-child {
        flex-basis: auto;
        flex-grow: 1;
        text-align: left;
    }
}

#resume {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 6px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#resume:hover {
    background-color: var(--text-color);
}

#intro {
    color: var(--accent-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2.1rem;
}

#intro h1 {
    font-size: 2rem;
}

#intro span {
    font-size: 2rem;
    color: var(--text-color);
    display: block;
}

#project {
    background-color:var(--bgp-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    padding: 1rem;
}

#project h3 {
    margin-left: 1rem;
    color: var(--font-color);
    text-align: center;
    font-size: 25px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#project h4 {
    text-align: center;
    color:  var(--font-color);
    margin: 0;
    margin-bottom: 1rem;
    padding: 20px;
}

#project ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

#project li {
    background-color: var(--font-color);
    color: var(--bgp-color);
    border-radius: 30px;
    text-align: center;
    padding: 0.5rem 1rem;
}

#contact {
    background-color: var(--bgp-color);
    text-align: center;
    padding: 2rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#github{
    background-color: var(--text-color);
    border-radius: 40px;

}

#contact h2 {
    color:  var(--font-color);
    margin-bottom: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media (min-width: 1600px) {
    #intro {
        margin: 2rem 5rem;
    }
    article {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    #project img {
        margin-right: 1rem;
        width: 50%;
    }
    #project h5 {
        text-align: end;
        font-size: 1.5rem;
    }
    #project ul {
        justify-content: flex-start;
    }
    #contact {
        padding: 4rem 2rem;
    }
}

#sun {
    color: var(--sun-color);
}

#moon {
    color: var(--moon-color);
}

#theme-switcher {
    background-color: var(--theme-switcher-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding: 0.3rem;
    position: relative;
    cursor: pointer; 
    
}

#theme-switcher::before {
    content: "";
    position: absolute;
    background-color: var(--theme-switcher-highlight);
    border-radius: 50px;
    width: 1.2rem;
    height: 1.2rem;
    z-index: 0;
    left: var(--switch-circle-pos);
    transition: left 0.3s ease;
}

#theme-switcher i {
    z-index: 1;
}